/*reset básico de tela*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppings", sans-serif;
}

body{
    background-color: #191919;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}
canvas{
    background-color: #111;
    
}

